<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>FDB Research</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="manifest.json">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#4270a9">
  <meta name="theme-color" content="#ffffff">
  <!-- Google Fonts -->
  <!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik"> -->
  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="assets/vendor/bootstrap/bootstrap.min.css">
  <!-- CSS Global Icons -->
  <link rel="stylesheet" href="assets/vendor/icon-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/vendor/icon-line/css/simple-line-icons.css">
  <link rel="stylesheet" href="assets/vendor/icon-etlinefont/style.css">
  <link rel="stylesheet" href="assets/vendor/icon-line-pro/style.css">
  <link rel="stylesheet" href="assets/vendor/icon-hs/style.css">
  <link rel="stylesheet" href="assets/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css">
  <link rel="stylesheet" href="assets/vendor/animate.css">
  <link rel="stylesheet" href="assets/vendor/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="assets/vendor/hamburgers/hamburgers.min.css">

  <link rel="stylesheet" href="assets/vendor/slick-carousel/slick/slick.css">

  <!-- CSS Unify -->
  <link rel="stylesheet" href="assets/css/unify-core.css">
  <link rel="stylesheet" href="assets/css/unify-components.css">
  <link rel="stylesheet" href="assets/css/unify-globals.css">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="assets/css/custom.css">
</head>

<body>
  <main>


    <!-- Header -->
    <header id="js-header" class="u-header u-header--static u-shadow-v19">
      <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
        <nav class="js-mega-menu navbar navbar-expand-lg">
          <div class="container">
            <!-- Responsive Toggle Button -->
            <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button"
              aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
              <span class="hamburger hamburger--slider">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </span>
            </button>
            <!-- End Responsive Toggle Button -->

            <!-- Logo -->
            <a href="index.html" class="navbar-brand">
              <img height="40px" src="assets/img/logo/logo-fdb.png" alt="Image Description">
            </a>
            <!-- End Logo -->

            <!-- Navigation -->
            <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">

              <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
                <!-- Home -->
                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                  <a href="index.html" class="nav-link g-py-7 g-px-0">Home</a>
                </li>
                <!-- End Home -->
                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                  <a href="news.html" class="nav-link g-py-7 g-px-0">News</a>
                </li>
                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                  <a href="people.html" class="nav-link g-py-7 g-px-0">People</a>
                </li>

                <!-- Projects -->
                <li class="nav-item hs-has-sub-menu  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                  <a id="nav-link--features" class="nav-link g-py-7 g-px-0" href="#" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--features">Projects</a>

                  <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-21 g-mt-11--lg--scrolling"
                    id="nav-submenu--features" aria-labelledby="nav-link--features">
                    <li class="dropdown-item ">
                      <a class="nav-link" href="principles.html">
                        Factorised Databases</a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="analytics.html">In-Database Analytics</a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="ivm.html">Incremental View Maintenance</a>
                    </li>
                  </ul>
                </li>
                <!-- End Projects -->

                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                  <a href="publications.html" class="nav-link g-py-7 g-px-0">Publications</a>
                </li>
                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                  <a href="talks.html" class="nav-link g-py-7 g-px-0">Talks</a>
                </li>




                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                  <a href="acknowledgements.html" class="nav-link g-py-7 g-px-0">Acknowledgements</a>
                </li>

              </ul>
            </div>
            <!-- End Navigation -->

          </div>
        </nav>
      </div>
    </header>
    <!-- End Header -->

    <!-- Promo Articles -->
    <div class="js-carousel" data-infinite="true" data-arrows-classes="u-arrow-v1 g-pos-abs g-absolute-centered--x g-bottom-20 text-center g-width-30 g-height-28 g-color-secondary-dark-v1 g-color-primary--hover"
      data-arrow-left-classes="fa fa-angle-left g-ml-minus-50" data-arrow-right-classes="fa fa-angle-right g-ml-50" data-pagi-classes="u-carousel-indicators-v1 g-absolute-centered--x g-bottom-30 text-center">
      <div class="js-slide">
        <!-- Promo Articles -->
        <div class="g-bg-secondary">
          <div class="container g-pt-70 g-pb-20">
            <div class="row justify-content-between align-items-center">
              <div class="col-md-6 g-mb-50">

                <!-- Info -->
                <div class="g-mb-70">
                  <div class="mb-4">
                    <h1>FDB: Factorised Databases</h1>
                    <span class="mb-4 d-block g-color-primary g-font-weight-700 g-font-size-16 mb-2">Department of Computer Science, University of Oxford</span>
                    <!-- <span class="mb-4 d-block g-color-primary g-font-weight-700 text-uppercase mb-2">January 2010, on going</span> -->
                    <br>
                    <!-- <p class="g-color-secondary-dark-v1 g-font-size-16">We are the Factorised Databases research group in the Department of Computer Science at the University
                      of Oxford.</p> -->
                    <p class="g-color-secondary-dark-v1 g-font-size-20">We investigate foundational and systems aspects of scalable data management at the confluence of compression,
                      distribution, and approximation for mixed query and machine learning workloads on relational data.</p>
                  </div>

                </div>
                <!-- End Info -->


              </div>

              <div class="col-md-6 col-lg-5 g-mb-50">
                <img class="img-fluid" src="assets/img/logo/logo-landing.png" alt="Image Description">
              </div>
            </div>
          </div>
        </div>
        <!-- End Promo Articles -->
      </div>


    </div>
    <!-- End Promo Articles -->
    <div class="g-pt-50"></div>


    <div id="fdb-app">



      <!-- Blog Minimal Blocks -->

      <div class="container g-pb-20">
        <div class="row justify-content-between">
          <!-- Left panel -->
          <div class="col-lg-8 g-mb-80">

            <!-- Weekly News -->
            <div class="g-mb-60">
              <div class="u-heading-v3-1 g-mb-30">
                <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">Research Projects</h2>
              </div>

              <!-- Articles -->
              <div class="row g-mb-30">
                <!-- Article Image -->
                <div class="col-md-5">
                  <figure class="u-shadow-v25 g-pos-rel g-mb-20 g-mb-0--lg">
                    <img class="img-fluid w-100" src="assets/projects/factorisation.png" alt="Image Description">

                    <!-- <figcaption class="g-pos-abs g-top-20 g-left-20">
                      <a class="btn btn-xs u-btn-darkpurple text-uppercase rounded-0" href="#">Web Design</a>
                    </figcaption> -->
                  </figure>
                </div>
                <!-- End Article Image -->

                <!-- Article Content -->
                <div class="col-md-7 align-self-center">
                  <h3 class="h4 g-mb-15">
                    <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="#">Principles of Factorised Databases</a>
                  </h3>
                  <p>How much redundancy is there in the results of database queries? Are there data representations that can avoid this redundancy? Can we compute them optimally? Can we compute anything interesting on top of them without decompression? 
                  </p>
                  <a class="g-font-size-12" href="principles.html">Read More..</a>
                </div>
                <!-- End Article Content -->
              </div>
              <!-- End Articles -->


              <!-- Articles -->
              <div class="row g-mb-30">
                <!-- Article Image -->
                <div class="col-md-5">
                  <figure class="u-shadow-v25 g-pos-rel g-mb-20 g-mb-0--lg">
                    <img class="img-fluid w-100" src="assets/projects/analytics.png" alt="Image Description">

                    <!-- <figcaption class="g-pos-abs g-top-20 g-left-20">
                                <a class="btn btn-xs u-btn-darkpurple text-uppercase rounded-0" href="#">Web Design</a>
                              </figcaption> -->
                  </figure>
                </div>
                <!-- End Article Image -->

                <!-- Article Content -->
                <div class="col-md-7 align-self-center">
                  <h3 class="h4 g-mb-15">
                    <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="#">In-Database Analytics</a>
                  </h3>
                  <p>Scalable techniques for machine learning over databases that push the learning tasks inside the database query engine and factorize their computation
                  </p>
                  <a class="g-font-size-12" href="#">Read More..</a>
                </div>
                <!-- End Article Content -->
              </div>
              <!-- End Articles -->

              <!-- Articles -->
              <div class="row g-mb-30">
                <!-- Article Image -->
                <div class="col-md-5">
                  <figure class="u-shadow-v25 g-pos-rel g-mb-20 g-mb-0--lg">
                    <img class="img-fluid w-100" src="assets/projects/incremental.png" alt="Image Description">

                    <!-- <figcaption class="g-pos-abs g-top-20 g-left-20">
                        <a class="btn btn-xs u-btn-darkpurple text-uppercase rounded-0" href="#">Web Design</a>
                      </figcaption> -->
                  </figure>
                </div>
                <!-- End Article Image -->

                <!-- Article Content -->
                <div class="col-md-7 align-self-center">
                  <h3 class="h4 g-mb-15">
                    <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="#">Incremental Maintenance of Analytics</a>
                  </h3>
                  <p>
                  Unified framework for maintaining arbitrary analytics over databases that leverages factorization for underlying queries, output data representation, and bulk updates
                  </p>
                  <a class="g-font-size-12" href="#">Read More..</a>
                </div>
                <!-- End Article Content -->
              </div>
              <!-- End Articles -->

              <!-- <\!-- Articles -\-> -->
              <!-- <div class="row g-mb-30"> -->
              <!--   <\!-- Article Image -\-> -->
              <!--   <div class="col-md-5"> -->
              <!--     <figure class="u-shadow-v25 g-pos-rel g-mb-20 g-mb-0--lg"> -->
              <!--       <img class="img-fluid w-100" src="assets/img-temp/400x270/img13.jpg" alt="Image Description"> -->

              <!--       <\!-- <figcaption class="g-pos-abs g-top-20 g-left-20"> -->
              <!--           <a class="btn btn-xs u-btn-darkpurple text-uppercase rounded-0" href="#">Web Design</a> -->
              <!--         </figcaption> -\-> -->
              <!--     </figure> -->
              <!--   </div> -->
              <!--   <\!-- End Article Image -\-> -->

              <!--   <\!-- Article Content -\-> -->
              <!--   <div class="col-md-7 align-self-center"> -->
              <!--     <h3 class="h4 g-mb-15"> -->
              <!--       <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="#">Distributed Factorised Databases</a> -->
              <!--     </h3> -->
              <!--     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et -->
              <!--       dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip -->
              <!--       ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p> -->
              <!--     <a class="g-font-size-12" href="#">Read More..</a> -->
              <!--   </div> -->
              <!--   <\!-- End Article Content -\-> -->
              <!-- </div> -->
              <!-- <\!-- End Articles -\-> -->


            </div>
            <!-- End Weekly News -->
          </div>
          <!-- end left panel -->






          <!-- right panel -->
          <div class="col-lg-4 g-mb-80">
            <!-- News Feed -->
            <div class="g-mb-40">
              <div class="px-4">
                <div class="u-heading-v3-1 g-mb-30">
                  <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">News</h2>
                </div>
                <!-- Article -->
                <article v-for="new_content in top_news">
                  <span class="g-font-size-12">
                    <a class="u-link-v5 g-color-gray-dark-v4" href="#">{{new_content.date}}</a>
                  </span>

                  <h3 class="h6" v-html="new_content.html"></h3>

                  <hr class="g-brd-gray-light-v4 g-mt-15 g-mb-10">
                </article>
                <!-- End Article -->
                <a class="g-font-size-12" href="news.html">Read More..</a>

              </div>
            </div>
            <!-- End News Feed -->

          </div>
          <!-- end right panel -->

        </div>

        <!-- People -->
        <div>
          <div class="u-heading-v3-1 g-mb-30">
            <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">People</h2>
          </div>
          <br>
          <!-- Team Blocks v1 -->
          <section class="g-pb-100">
            <div class="">
              <div id="shortcode1">
                <div class="shortcode-html">

                  <!-- Team Block -->
                  <div class="row">

                    <!-- People block -->
                    <div class="col-lg-4 col-sm-6 g-mb-30">
                      <!-- Team Block -->
                      <div class="u-info-v1-2">
                        <!-- Figure -->
                        <figure class="u-block-hover">
                          <!-- Figure Image -->
                          <img class="w-100" src="assets/people/Ahmet.jpg" alt="Image Description">
                          <!-- End Figure Image-->


                        </figure>
                        <!-- End Figure -->

                        <!-- Figure Info -->
                        <div class="g-bg-white g-py-25">
                          <div class="g-mb-15">
                            <h4 class="h5 g-color-black g-mb-5">Ahmet Kara</h4>
                            <em class="d-block u-info-v1-2__item g-font-style-normal g-font-size-11 text-uppercase g-color-primary"></em>
                          </div>
                          <p>Ahmet earned his PhD from the University of Dortmund in the area of Logics and Automata on data
                            words and data trees and their applications in formal system verification. He contributes to
                            the principles of factorized computation and its incremental maintenance. </p>
                        </div>
                        <!-- End Figure Info-->
                      </div>
                      <!-- End Team Block -->
                    </div>
                    <!-- End People block -->


                    <!-- People block -->
                    <div class="col-lg-4 col-sm-6 g-mb-30">
                      <!-- Team Block -->
                      <div class="u-info-v1-2">
                        <!-- Figure -->
                        <figure class="u-block-hover">
                          <!-- Figure Image -->
                          <img class="w-100" src="assets/people/Milos.jpg" alt="Image Description">
                          <!-- End Figure Image-->

                        </figure>
                        <!-- End Figure -->

                        <!-- Figure Info -->
                        <div class="g-bg-white g-py-25">
                          <div class="g-mb-15">
                            <h4 class="h5 g-color-black g-mb-5">Milos Nikolic</h4>
                            <em class="d-block u-info-v1-2__item g-font-style-normal g-font-size-11 text-uppercase g-color-primary"></em>
                          </div>
                          <p>Milos earned his PhD from EPFL in database systems and in particular efficient incremental maintenance.
                            He is a departmental lecturer in Computer Science at Oxford. He contributes to all aspects of
                            the FDB project, with a current focus on incremental maintenance of analytical workloads. </p>
                        </div>
                        <!-- End Figure Info-->
                      </div>
                      <!-- End Team Block -->
                    </div>
                    <!-- End People block -->

                    <!-- People block -->
                    <div class="col-lg-4 col-sm-6 g-mb-30">
                      <!-- Team Block -->
                      <div class="u-info-v1-2">
                        <!-- Figure -->
                        <figure class="u-block-hover">
                          <!-- Figure Image -->
                          <img class="w-100" src="assets/people/Dan2.jpg" alt="Image Description">
                          <!-- End Figure Image-->

                        </figure>
                        <!-- End Figure -->

                        <!-- Figure Info -->
                        <div class="g-bg-white g-py-25">
                          <div class="g-mb-15">
                            <h4 class="h5 g-color-black g-mb-5">Dan Olteanu</h4>
                            <em class="d-block u-info-v1-2__item g-font-style-normal g-font-size-11 text-uppercase g-color-primary"></em>
                          </div>
                          <p>Dan earned his PhD from the University of Munich in the area of database systems and in particular
                            streaming evaluation and optimization of XML query languages. He is a professor of Computer Science
                            at Oxford and has been the head of the FDB project since its inception in 2010 and contributes
                            to all aspects of the project.
                          </p>
                        </div>
                        <!-- End Figure Info-->
                      </div>
                      <!-- End Team Block -->
                    </div>
                    <!-- End People block -->





                    <!-- People block -->
                    <div class="col-lg-4 col-sm-6 g-mb-30">
                      <!-- Team Block -->
                      <div class="u-info-v1-2">
                        <!-- Figure -->
                        <figure class="u-block-hover">
                          <!-- Figure Image -->
                          <img class="w-100" src="assets/people/Max.jpg" alt="Image Description">
                          <!-- End Figure Image-->


                        </figure>
                        <!-- End Figure -->

                        <!-- Figure Info -->
                        <div class="g-bg-white g-py-25">
                          <div class="g-mb-15">
                            <h4 class="h5 g-color-black g-mb-5">Maximilian Schleich</h4>
                            <em class="d-block u-info-v1-2__item g-font-style-normal g-font-size-11 text-uppercase g-color-primary"></em>
                          </div>
                          <p>Max earned his MSc in Computer Science from Oxford. He is currently a third year PhD student and
                            contributes to in-database analytics.</p>
                        </div>
                        <!-- End Figure Info-->
                      </div>
                      <!-- End Team Block -->
                    </div>
                    <!-- End People block -->


                    <!-- People block -->
                    <div class="col-lg-4 col-sm-6 g-mb-30">
                      <!-- Team Block -->
                      <div class="u-info-v1-2">
                        <!-- Figure -->
                        <figure class="u-block-hover">
                          <!-- Figure Image -->
                          <img class="w-100" src="assets/people/Yu.jpg" alt="Image Description">
                          <!-- End Figure Image-->

                        </figure>
                        <!-- End Figure -->

                        <!-- Figure Info -->
                        <div class="g-bg-white g-py-25">
                          <div class="g-mb-15">
                            <h4 class="h5 g-color-black g-mb-5">Yu Tang</h4>
                            <em class="d-block u-info-v1-2__item g-font-style-normal g-font-size-11 text-uppercase g-color-primary"></em>
                          </div>
                          <p>Yu earned his MPhil in Computer Science from The University of Hong Kong. He is a third year PhD
                            student and contributes to principles of factorized data representation.
                          </p>
                        </div>
                        <!-- End Figure Info-->
                      </div>
                      <!-- End Team Block -->
                    </div>
                    <!-- End People block -->

                    <!-- People block -->
                    <div class="col-lg-4 col-sm-6 g-mb-30">
                      <!-- Team Block -->
                      <div class="u-info-v1-2">
                        <!-- Figure -->
                        <figure class="u-block-hover">
                          <!-- Figure Image -->
                          <img class="w-100" src="assets/people/Haozhe.jpg" alt="Image Description">
                          <!-- End Figure Image-->

                        </figure>
                        <!-- End Figure -->

                        <!-- Figure Info -->
                        <div class="g-bg-white g-py-25">
                          <div class="g-mb-15">
                            <h4 class="h5 g-color-black g-mb-5">Haozhe Zhang</h4>
                            <em class="d-block u-info-v1-2__item g-font-style-normal g-font-size-11 text-uppercase g-color-primary"></em>
                          </div>
                          <p>Haozhe earned his MSc in Computer Science from Oxford. He has just started as a first year PhD
                            student.
                          </p>
                        </div>
                        <!-- End Figure Info-->
                      </div>
                      <!-- End Team Block -->
                    </div>
                    <!-- End People block -->


                  </div>


                  <!-- End Team Block -->
                </div>
              </div>
            </div>
          </section>
          <!-- End Team Blocks v1 -->
        </div>
        <!-- End People -->

        <!-- Acknowledgement -->
        <div>
          <div class="u-heading-v3-1 g-mb-30">
            <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">Acknowledgements</h2>
          </div>
          <br>
          <div class="shortcode-html">
            <div class="row">

              <!-- logo block -->
              <div class="col-4 col-md-2 col-sm-4 col-xs-4 " v-for="logo in acknowledgement_logos">
                <div class="g-brd-around g-brd-gray-light-v4--hover">
                  <a class="js-fancybox d-block u-block-hover u-block-hover--scale-down" data-fancybox-gallery="lightbox-gallery--17" :href="logo.url"
                    data-open-effect="bounceInDown" data-close-effect="bounceOutDown" data-open-speed="1000" data-close-speed="1000"
                    data-blur-bg="true">
                    <img class="img-fluid  u-block-hover__img" :src="logo.img" alt="example-image">
                  </a>
                </div>
              </div>
              <!-- end logo block -->

            </div>
          </div>
        </div>




        <!-- End acknowledgement -->



      </div>
      <!-- End Minimal Blocks -->



      <!-- End Cube Portfolio Blocks -->


      <!-- Footer -->
      <div class="g-pt-50">
        <footer class="g-bg-secondary">
          <div class="g-brd-bottom g-brd-secondary-light-v2 g-py-20 "></div>

          <div class="container">
            <!-- Footer - Bottom Section -->
            <div class="row align-items-center">
              <div class="col-md-2 g-brd-right--md g-brd-secondary-light-v2 g-mb-30">
                <!-- Copyright -->
                <p class="g-color-secondary-light-v1 g-font-size-12 mb-0">&copy; 2017 All Rights Reserved.</p>
                <!-- End Copyright -->
              </div>

              <div class="col-md-8 g-brd-right--md g-brd-secondary-light-v2 g-mb-30">
                <!-- Links -->
                <ul class="list-inline mb-0">
                  <li class="list-inline-item g-pl-0 g-pr-10">
                    <a class="u-link-v5 g-color-black-opacity-0_5 g-font-size-12" href="#">Contact Us</a>
                  </li>
                  <li class="list-inline-item g-px-10">
                    <a class="u-link-v5 g-color-black-opacity-0_5 g-font-size-12" href="#">Privacy</a>
                  </li>
                  <li class="list-inline-item g-px-10">
                    <a class="u-link-v5 g-color-black-opacity-0_5 g-font-size-12" href="#">Terms of Use</a>
                  </li>
                </ul>
                <!-- End Links -->
              </div>


            </div>
            <!-- End Footer - Bottom Section -->
          </div>
        </footer>
      </div>
      <!-- End Footer -->






  </main>

  <!-- Vue.js part -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.js"></script>
  <script src="./content/news.js"></script>

  <!-- JS Global Compulsory -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
  <script src="assets/vendor/jquery.easing/js/jquery.easing.js"></script>
  <script src="assets/vendor/popper.min.js"></script>
  <script src="assets/vendor/bootstrap/bootstrap.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="assets/vendor/appear.js"></script>
  <script src="assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  <script src="assets/vendor/masonry/dist/masonry.pkgd.min.js"></script>
  <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>

  <script src="assets/vendor/slick-carousel/slick/slick.js"></script>

  <!-- JS Unify -->
  <script src="assets/js/hs.core.js"></script>
  <script src="assets/js/components/hs.header.js"></script>
  <script src="assets/js/helpers/hs.hamburgers.js"></script>
  <script src="assets/js/components/hs.dropdown.js"></script>
  <script src="assets/js/components/hs.tabs.js"></script>
  <script src="assets/js/components/hs.cubeportfolio.js"></script>
  <script src="assets/js/components/hs.onscroll-animation.js"></script>
  <script src="assets/js/components/hs.go-to.js"></script>
  <script src="assets/js/components/hs.carousel.js"></script>

  <!-- JS Customization -->
  <script src="assets/js/custom.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of tabs
      $.HSCore.components.HSTabs.init('[role="tablist"]');

      // initialization of scroll animation
      $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');

      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');

      // initialization of HSDropdown component
      $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {
        afterOpen: function () {
          $(this).find('input[type="search"]').focus();
        }
      });

      // initialization of carousel
      $.HSCore.components.HSCarousel.init('[class*="js-carousel"]');

      $('#carouselCus1').slick('setOption', 'responsive', [{
        breakpoint: 1200,
        settings: {
          slidesToShow: 2
        }
      }, {
        breakpoint: 992,
        settings: {
          slidesToShow: 1
        }
      }, {
        breakpoint: 768,
        settings: {
          slidesToShow: 2
        }
      }, {
        breakpoint: 480,
        settings: {
          slidesToShow: 1
        }
      }], true);

      $('#carouselCus2').slick('setOption', 'responsive', [{
        breakpoint: 1200,
        settings: {
          slidesToShow: 4
        }
      }, {
        breakpoint: 992,
        settings: {
          slidesToShow: 3
        }
      }, {
        breakpoint: 768,
        settings: {
          slidesToShow: 2
        }
      }, {
        breakpoint: 480,
        settings: {
          slidesToShow: 1
        }
      }], true);

    });



    $(window).on('load', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#js-header'));
      $.HSCore.helpers.HSHamburgers.init('.hamburger');

      // initialization of HSMegaMenu component
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 991
      });

      // initialization of masonry
      $('.masonry-grid').imagesLoaded().then(function () {
        $('.masonry-grid').masonry({
          columnWidth: '.masonry-grid-sizer',
          itemSelector: '.masonry-grid-item',
          percentPosition: true
        });
      });

      // initialization of cubeportfolio
      $.HSCore.components.HSCubeportfolio.init('.cbp');
    });

    $(window).on('resize', function () {
      setTimeout(function () {
        $.HSCore.components.HSTabs.init('[role="tablist"]');
      }, 200);
    });
  </script>

</body>

</html>